/* ===============   FONTS   ============== */
@font-face {
	font-family: 'OS';
	src: url('../fonts/OS/OpenSans-Light.ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'OS';
	src: url('../fonts/OS/OpenSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OS';
	src: url('../fonts/OS/OpenSans-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OS';
	src: url('../fonts/OS/OpenSans-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Light.ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
	font-weight: 800;
	font-style: normal;
}