/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
@import "variables.less";
@import "fonts.css";

/* ===============   Most used selectors   ============== */
*{
    font-family: @OS;
}
strong{
    font-weight: bold;
}
a{
    text-decoration: none;
}
.f-wrap{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.hidden{
    opacity: 0;
}
.visible{
    opacity: 1;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn{
    padding: 20px 35px;
    box-shadow: 0 5px 25px 1px rgba(0,0,0,0.10);
    display: inline-block;
    border-radius: 12px;
    background: #fff;
    border: none;
    outline: none;
    transition: .5s;
    cursor: pointer;
    border: 1px solid #5E9CA3;
    font-weight: bold;
    color: @light-blue;
    font-size: 16px;
    line-height: 20px;
    &:hover{
    	box-shadow: 0 5px 25px 1px rgba(0,0,0,0.15);
    }
}
.center{
	text-align: center;
}
main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
	height: 100vh;
}
.left-sidebar{
	background: @light-blue;
	text-align: center;
	width:400px;
	height: 100vh;
	.logo{
		width: 250px;
		display: inline-block;
		img{
			max-width: 100%;
		}
	}
	ul{
		text-align: left;
		padding-left: 0;
		margin: 0;
		li{
			list-style: none;
			background: rgba(0,0,0,0);
			&:hover, &.active{
				background:rgba(0,0,0,.1);
				.cls-1 {
			        fill: none;
			        stroke: #fff;
			        stroke-linecap: round;
			        stroke-linejoin: round;
			    }
			    span{
			    	color: @white;
			    }
			}
			.cls-1 {
	            fill: none;
	            stroke: #ccc;
	            stroke-linecap: round;
	            stroke-linejoin: round;
	        }
			a{
				padding: 18px 25px;
				display: inline-block;
				width: 100%;
				svg{
					display: inline-block;
					vertical-align: middle;
				}
			}
			span{
				font-size: 20px;
				line-height: 24px;
				font-weight: 400;
				display: inline-block;
				margin-left: 17px;
				vertical-align: middle;
				color: @grey;
			}
		}
	}
	svg{
		width: 23px;
		height: 23px;
	}
}
.right-content{
	padding-left: 85px;
	padding-right: 85px;
	width: 100%;
	padding-top: 35px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	.rcs-custom-scroll .rcs-custom-scrollbar{
		width: 10px;
		opacity: 1;
	}
	.rcs-custom-scroll .rcs-inner-handle{
		border-radius: 10px;
	}
	.rcs-custom-scroll .rcs-inner-handle{
		background: @light-blue;
	}
	.rcs-inner-container{
		padding-right: 25px;
	}
	.top-menu{
		margin-bottom: 35px;
		h2{
			font-size: 40px;
			line-height: 48px;
			color: @light-blue-text;
			margin: 0;
			font-family: @Montserrat;
		}
	}
	.icon-move{
		width: 15px;
		cursor: pointer;
		margin-right: 15px;
		svg{
			.cls-1 {
	            fill: none;
	            stroke: #b3b3b3;
				transition: .3s;
	            stroke-linecap: round;
	            stroke-linejoin: round;
	        }
		}
	}
	.rcs-custom-scroll{
		width: 100%;
	}
    content-right-sidebar{
        margin-left: -10px;
        margin-right: -10px;
    }
	.content-right-sidebar.choose-sibling{
		margin-right: -24px;
		.block-siblings{
			width:100%;
		}
		.rcs-custom-scroll .rcs-custom-scrollbar{
			right: 17px;
		}
	}
	.list-items{
		padding: 0 10px;
		transition: .3s;
		margin: 0;
		li.list-item{
			list-style: none;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 10px;
			border-radius: 2px;
			border:1px solid #F2F2F2;
			padding-top: 12px;
			padding-bottom: 12px;
    		box-shadow: 0 0 8px 0 rgba(0,0,0,0.10);
    		display: -webkit-flex;
    		display: -moz-flex;
    		display: -ms-flex;
    		display: -o-flex;
    		display: flex;
    		justify-content: space-between;
    		-ms-align-items: center;
			align-items: center;
			transition: .3s;
    		&:hover, &.active{
    			.left{
    				span{
    					color:@black;
    				}
    				.cls-1 {
			            stroke: @dark;
			        }
    			}
    			.right{
    				.cls-1 {
			            stroke: @dark;
			        }
    			}
    		}
			.left{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				transition: .3s;
				span{
					font-size: 16px;
					line-height: 19.2px;
					color: @dark;
					transition: .3s;
				}
			}
			.right{
                position: relative;
				.conroll-btn{
					width: 20px;
					height: 20px;
					display: inline-block;
					margin-left: 18px;
					cursor: pointer;
                    transition: all .3s, visibility 0s .3s;
                    svg{
						max-width: 100%;
						max-height: 100%;
					}
					&:hover{
						.cls-1{
							stroke:@light-blue;
						}
					}
				}
                .back-action{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    transition: all .3s, visibility 0s .3s;
                    cursor: pointer;
                    padding: 5px;
                    z-index: 4;
                    opacity: 0;
                    visibility: collapse;
					white-space: nowrap;
					display: flex;
					.make{
						color: @light-blue;
						font-weight: 700;
						margin-left: 10px;
						&:hover {
							color: fade(@light-blue, 70);
						}
					}
                }
				.cls-1 {
		            fill: none;
		            stroke: #b3b3b3;
		            stroke-linecap: round;
		            stroke-linejoin: round;
		            transition: .3s;
		        }
			}
            &.delete{
				box-shadow: 0 0 3px 0 rgba(0,0,0,0.05);
				.left{
					opacity: .4;
				}
				&:hover, &.active{
					.left{
						span{
							color:@dark;
						}
						.cls-1 {
							stroke: #b3b3b3;
						}
					}
				}
                .right{
                    .back-action{
                        visibility: visible;
                        opacity: 1;
                        transition: all .3s, visibility 0s 0s;
                    }
                    .conroll-btn{
                        opacity: 0;
                        visibility: collapse;
                        transition: all .3s, visibility 0s 0s;
                    }
                }
            }
		}
	}
}
.right-content
.block-siblings{
	overflow:hidden;
	width: 0;
	transition: .3s;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	border-radius: 2px;
	overflow:hidden;
	flex-direction: column;
	display: flex;
	.top{
		border-bottom: 1px solid #5E9CA3;
		min-width: 300px;
		position: relative;
		z-index: 3;
		.wrapper-input{
			position: relative;
			.icon-search{
				position: absolute;
				top: 50%;
				left: 18.5px;
				transform: translateY(-50%);
				width: 18px;
			}
			input{
				padding-left: 45px;
				width: 100%;
				padding-top: 16.5px;
				padding-bottom: 16.5px;
				font-size: 14px;
				line-height: 16px;
				border: none;
				outline: none;
				&:focus + .search-result{
					max-height: 300px;
					opacity: 1;
				}
			}
			.search-result{
				position: absolute;
				overflow: hidden;
				top: 100%;
				left: 0;
				width: 100%;	
				transition:.3s;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				max-height: 0;
				height: 300px;
				opacity:0;
				background: #fff;
				margin: 0;
				padding: 0;
				z-index: 5;
				border-bottom-left-radius: 15px;
				border-bottom-right-radius: 15px;
				box-shadow: 0 2px 10px rgba(0,0,0,.1);
				.rcs-custom-scroll{
					min-height: 150px;
				}
				li{
					padding: 13px 20px;
					position: relative;
					cursor: pointer;
					&:last-child{
						padding-bottom: 20px;
					}
					&.not-found{
						cursor: default;
						opacity: .8;
						font-size: 12px;
						text-align: center;
					}
				}
				&:hover{
					max-height: 400px;
					opacity: 1;
				}
			}
		}
	}
	.bottom{
		min-width: 300px;
		height: 100%;
		display: flex;
		flex-direction: column;
		.rcs-custom-scroll .rcs-custom-scrollbar{
			right: 3px;
		}
		h4{
			font-size: 24px;
			color: #9DC6B3;
			padding-left: 30px;
			padding-right: 30px;
			font-weight: bold;
		}
	}
	.list-siblings{
		padding: 0;
		margin: 0;
		margin-right: -25px;
		.list-item{
			list-style: none;
			display: -webkit-flex;
    		display: -moz-flex;
    		display: -ms-flex;
    		display: -o-flex;
    		display: flex;
    		justify-content: space-between;
    		-ms-align-items: center;
    		align-items: center;
    		padding-top: 10px;
    		padding-bottom: 10px;
    		background: #fff;
    		padding-left: 17px;
    		padding-right: 28px;
    		&:nth-child(2n+1){
				background: #F7FBFC;
    		}
    		.left{
			    display: -webkit-flex;
			    display: -moz-flex;
			    display: -ms-flex;
			    display: -o-flex;
			    display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    -ms-align-items: center;
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
				transition: .3s;
			    span{
					margin-left: 5px;
			    }
    		}
    		.right{
				position: relative;
    			.controll-btn{
					cursor: pointer;
    				display: inline-block;
					cursor: pointer;
					transition: all .3s, visibility 0s .3s;
    				svg{
						width: 15px;
						.cls-1 {
				            fill: none;
				            stroke: #4d4d4d;
				            stroke-linecap: round;
				            stroke-linejoin: round;
				            transition: .3s;
				        }
    				}
					&:hover{
						svg .cls-1{
							stroke:@light-blue;
						}
					}
    			}
				.back-action{
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					transition: all .3s, visibility 0s .3s;
					cursor: pointer;
					padding: 5px;
					z-index: 4;
					opacity: 0;
					visibility: collapse;
					white-space: nowrap;
					display: flex;
					.make{
						color: @light-blue;
						font-weight: 700;
						margin-left: 10px;
						&:hover {
							color: fade(@light-blue, 70);
						}
					}
				}
    		}
			&.delete{
				box-shadow: 0 0 3px 0 rgba(0,0,0,0.05);
				.left{
					opacity: .4;
				}
				&:hover, &.active{
					.left{
						span{
							color:@dark;
						}
						.cls-1 {
							stroke: #b3b3b3;
						}
					}
				}
				.right{
					.back-action{
						visibility: visible;
						opacity: 1;
						transition: all .3s, visibility 0s 0s;
					}
					.controll-btn{
						opacity: 0;
						visibility: collapse;
						transition: all .3s, visibility 0s 0s;
					}
				}
			}
		}
	}
}
.modal-window{
	background: rgba(255,255,255,.95);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity .3s, transfrom 0s .3s;
    z-index: 6;
	&.show{
		transform: translateX(0);
		opacity: 1;
		transition: opacity .3s, transfrom 0s 0s;
	}
	.modal-overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	.modal-content{
		padding-top: 55px;
		padding-bottom: 75px;
		background: #fff;
		border-radius: 25px;
		padding-left: 65px;
		padding-right: 65px;
		border:1px solid #F2F2F2;
		box-shadow: 0 0 25px rgba(0,0,0,.10);
		position: relative;
		z-index: 3;
		h4{
			font-size: 24px;
			line-height: 29px;
			font-weight: bold;
			font-family: @Montserrat;
			margin-bottom: 45px;
			margin-top: 0;
			color: #7FC6C6;
			text-align: center;
		}
		.field{
			margin-bottom: 40px;
			span{
				display: block;
				font-weight: bold;
				font-size: 14px;
				line-height: 16.8px;
				color: #5E9CA3;
				margin-bottom: 4px;
				i{
					font-style: normal;
					color: @red;
					font-weight: bold;
				}
			}
			input{
				width: 500px;
				font-size: 14px;
				line-height: 17px;
				padding-top: 11px;
				padding-bottom: 11px;
				border: 1px solid #5E9CA3;
				border-radius: 2px;
				padding-left: 5px;
				padding-right: 5px;
			}
			select{
				padding: 11px 5px;
				border: 1px solid #5E9CA3;
				border-radius: 2px;
				font-size: 14px;
				width: 100%;
			}
		}
		.btn{
			background: #5E9CA3;
			font-weight: bold;
			color: #fff;
			padding: 18px 55px;
			border: 1px solid #5E9CA3;
			border-radius: 2px;
		}
	}
}
.fullscreen{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	&.center{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.login-form{
	width: 500px;
	max-width: 100%;
	border-radius: 20px;
	box-shadow: 0 10px 40px rgba(0,0,0,.1);
	overflow: hidden;
	.content{
		padding: 40px;
		.field{
			width: 100%;
			margin-bottom: 25px;
			&:last-child{
				margin-bottom: 0;
			}
			label{
				text-align: left;
				span{
					display: block;
					margin-bottom: 5px;
				}
				input{
					width: 100%;
					padding: 15px 15px;
					font-size: 16px;
					font-weight: 300;
					border: none;
					border-radius: 5px;
					background: #fff;
				}
			}
		}
	}
	.by-top{
		padding-top: 15px;
		padding-bottom: 15px;
		width: 100%;
		background: @light-blue;
		img{
			width: 200px;
			margin-top: -20px;
			margin-bottom: -20px;
		}
	}
}